<?xml version="1.0" encoding="UTF-8"?>
<!--映射文件-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xa.roleInfo.Mapper.RoleMapper"><!--映射 去除字段不匹配为空问题-->


<!--查所有-->
    <select id="selectroleall"  resultType="com.xa.pojo.Role">
        select  * from role
    </select>
    <!--增-->
    <insert id="addrole" parameterType="com.xa.pojo.Role">
        insert into Role values (SEQ_PK_ROLE.nextval,#{role_name})
    </insert>
    <!--删-->
    <delete id="deleterole" parameterType="int">
        delete from role where role_id=#{id}
    </delete>
    <!--动态查询-->
    <select id="selectif" parameterType="com.xa.pojo.Role" resultType="com.xa.pojo.Role">
        select * from role
        <where>
            <if test="role_id!=null and role_id!=''">
                or role_id=#{id}
            </if>
            <if test="role_name!=null and role_name!=''">
                or role_name=#{name}
            </if>
        </where>
    </select>
    <!--单个查询然后修改-->
    <select id="selectid" parameterType="com.xa.pojo.Role" resultType="com.xa.pojo.Role">
        select * from role where role_id=#{id}
    </select>
    <update id="updaterole" parameterType="com.xa.pojo.Role">
        update role set role_name=#{role_name} where  role_id= #{role_id}
    </update>

</mapper>